.i {
    display: flex;
    /* height: 100vh; */
     /* background: linear-gradient(90deg, rgba(85,15,101,1) 35%, rgba(38,44,111,1) 100%);; */
     /* background-color: rgb(65, 90, 8); */
     background-color: rgb(240, 243, 247);
}
.custom-shape-divider-top-1669022440 {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.i-wrapper{
  z-index: 1;
}
.custom-shape-divider-top-1669022440 svg {
    
    display: block;
    width: calc(175% + 1.3px);
    height: 500px;
    z-index: -100;
}

.custom-shape-divider-top-1669022440 .shape-fill {
    fill: rgb(243, 209, 116);
}  
    
    
  .i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
  
  .i-right {
    flex: 1;
    position: relative;

   
}
.bi{
  margin-left: 3px;
}
  .btn
  {
    background: radial-gradient(circle, rgba(223,175,218,1) 0%, rgba(169,180,237,1) 100%);
    /* position: absolute; */
  }
  .buttons
  {
    display: flex;
   justify-content: space-evenly;
   
  }
  .i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}
  
  .i-intro {
    font-size: 40px;
    font-weight: 300;
    color: #0c0d0c;
    position: relative;
}
  
  .i-name {
    font-size: 50px;
    color: #0c0d0c;
  }
    
  .i-title {
    height: 50px;
    overflow: hidden;
    color: #0c0d0c;
    justify-content: flex-end;

    display: flex;
    justify-content: space-around;
}
  .i-desc{
    color: #0c0d0c;
    
    /* align-items: baseline; */
  }
  .i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
  

@keyframes move {
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-100px);
    }
    75% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(-200px);
    }
    }
    
  .i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #8d22f1;
    display: flex;
    align-items: center;
    margin: left 3px;
    
}
 .resume
 {
  display: flex;
  
 }   
  .i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}
  
  .i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .i-bg {
    border-radius: 50%;
    background:#f5d7ec;
    Width: 15%;
    height: 15%;
    position: absolute;
    margin-top: 10p;
    margin-bottom: 3px;
    top: 25%;
    right: 0;
    left: 1;
    /* animation: zoom-in-zoom-out 10s ease infinite; */
  }
  .i-bg2
  {}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
    
  @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
}

    .i-left-wrapper {

      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
    }
    
  }
  .i-img
  {
    border-radius: 50%;
  }