.skillspage
{
    /* height: 100vh; */
    background-color: aqua;
}
.box
{
    
}
/* .container
{
    


    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
} */